body {
    margin: 0;
    background-color: #252525;
    

}


.texto1 {
    background-color: #333;
    height: 100px;
    padding: 10px;
    position: relative;
    z-index: 0;
    outline: none;
    border: none;
}

.texto1::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 166, 0);
    left: 0;
    z-index: -1;
    top: 0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.texto1::before {
    content: "";
    position: absolute;
    background: linear-gradient(45deg,
            blue, yellow, orange, rgb(255, 58, 91), red, blue);
    left: -2;
    top: -2;
    background-size: 600%;
    z-index: -1;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    filter: blur(8px);
    animation: movies 20s linear infinite;
    transition: opacity .3 ease-in-out;
    opacity: 1;
    border-radius: 20px;

}

@keyframes movies {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0%
    }

    100% {
        background-position: 0 600%;
    }
}

#texto1 {
    color: white;
    font-family: fantasy;
    font-size: 50px;
}

#texto1::after {
    content: "Elite";
    color: red;
}

.item1 {

    z-index: 2;
    position: relative;
    display: flex;
    gap: 10px;
    margin-left: 1230px;
    margin-top: -20px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.item {
    color: rgb(255, 255, 255);
}

.item {
    color: white;
    z-index: 0;
    position: relative;
}

.item {
    transition: .35;
    cursor: pointer;
}

.item:active {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.item:hover {
    opacity: 5;
    transform: scale(1.2);

}

.item:hover::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 166, 0);
    left: 0;
    z-index: -1;
    top: 0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.item:hover::before {
    content: "";
    position: absolute;
    background: linear-gradient(45deg,
            blue, red, purple);
    left: -2;
    top: -2;
    background-size: 600%;
    z-index: -1;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    filter: blur(8px);
    animation: movies 20s linear infinite;
    transition: opacity .3 ease-in-out;
    opacity: 1;
    border-radius: 20px;

}

.barba {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.barba {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cortes {
    display: flex;
    margin-top: 50px;
    margin-left: 400px;
}

.BARBA {
    margin-top: -50px;
}

.textocorte {
    display: flex;
    margin-top: 50px;
    margin-left: 700px;
    box-sizing: border-box;
}

.barba:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.cabelo{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.cabelo:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

 .textocorte{
    text-align: center;
    
}