        body {
            background-image: url(pasta1/Backgroundimg.png);
            background-repeat: no-repeat;
            background-size: cover;
            font-family: arial, sans-serif;


        }

        @property --angle {
            syntax: "<angle>";
            initial-value: 0deg;
            inherits: false;
        }

        .box {
            --angle: 0deg;
            display: flex;
            align-items: center;
            height: 65px;
            width: 260px;
            background-image: conic-gradient(from var(--angle), transparent 35%, blue, transparent 65%, red);
            margin-top: 60px;
            margin-left: 700px;
            z-index: -1;
            border-radius: 19px;
            animation: spin 2s linear infinite;

        }

        .title {
            color: white;
            height: 60px;
            width: 250px;
            margin-left: 3.1px;
            background-color: rgb(0, 0, 0);
            text-align-last: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            border-radius: 20px;


        }

        .container {
            display: flex;



        }

        @keyframes spin {
            0% {
                --angle: 0deg;
            }

            100% {
                --angle: 360deg;
            }
        }

        nav ul li {
            display: inline;
            margin-left: 20px;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            color: white;


        }

        #nav-link {
            text-decoration: none;
            color: rgb(255, 255, 255);
            margin-left: 100px
        }

        #Asdad {
            background-color: rgb(0, 0, 0);
            color: white;
            display: flex;
            margin-left: 6.5px;
            margin-top: 4.55px;
            width: 97%;
            height: 490px;
            z-index: 3;
            border-radius: 20px;
            text-align: center;


        }

        .box1 {
            --angle: 0deg;
            display: flex;
            background-image: conic-gradient(from var(--angle), transparent 35%, rgb(255, 0, 0), transparent 65%, rgb(69, 0, 133));
            margin-left: 650px;
            margin-top: -80px;
            z-index: 2;
            width: 25%;
            height: 500px;
            animation: spin 4s linear infinite;
            border-radius: 20px;
        }

        .boxspin {
            height: 100px;
            width: 100px;
            background-color: blue;
            --angle: 0deg;
            margin-top: 50px;
            margin-left: 50px;
            animation-name: boxspin1, ex;
            animation-duration: 5s, 800ms;
            animation-delay: 0s, 2.5s;
            animation-timing-function: linear, linear;
            animation-iteration-count: infinite, infinite;
            position: relative;
            border-radius: 5px;
        }

        .mask {
            --webdirth-mask-image: url(pasta1/LogoP_G_A.png);
            mask-image: url(pasta1/LogoP_G_A.png);
            display: flex;
            margin-left: 600px;
            margin-top: 10px;
            width: 600px;
            height: 500px;
            mask-repeat: no-repeat;

        }

        @keyframes boxspin1 {
            0% {
                left: 0px;
                top: -500px;
            }

            50% {
                left: 400px;
                top: 0px;
            }

            100% {
                left: 0px;
                top: -500px;
            }
        }

        @keyframes ex {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }


        .item {
            transition: .35;
            cursor: pointer;
        }

        .caixa:hover> :not(:hover) {

            opacity: .4;
            transform: scale(0.9);
        }

        .item {
            display: flex;
            height: 100px;
            width: 100px;
            margin-left: 20px;
            border-radius: 30px;
            background-color: blue;
        }

        .caixa {
            display: flex;

        }