  .mask{
    -webkit-mask-image: url(../pasta1/LogoP_G_A.png);
   mask-image: url(../pasta1/LogoP_G_A.png);
   mask-repeat: no-repeat;
   mask-size: 500px;
   margin-left: 600px;
   margin-top: 10px;
   display: flex;
  }
  #red-box{
    border-radius: 100%;
      width: 100px;
      height: 100px;
      background-color: red;
      position: relative;
      animation-name: example;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 300ms;
     
    
  }
    #green-box{
      border-radius: 100%;
        width: 100px;
        height: 100px;
        background-color: green;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 500ms;
       
      }

      #yellow-box{
        border-radius: 100%;
          width: 100px;
          height: 100px;
          background-color: rgb(206, 206, 36);
          position: relative;
          animation-name: example;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          animation-delay: 700ms;
         

        }
     #blue-box{
      border-radius: 50%;
        width: 100px;
        height: 100px;
        background-color: red;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        
       
      }
      
      @keyframes example {
        0%   {background-color:red; left:0px;}
        25%  {background-color:green; left:200px; top: 0px;}
        50%  {background-color:blue; left:300px; top: -200px;}
       55%  {background-color:rgb(0, 255, 0); left:300px; top: 200px;}
        75%  {background-color:rgb(196, 196, 38); left:300px; top: 0px;}
        100% {background-color:red; left:0px; top: 0px;}
      }